<div class="card" style="width: 200px; margin: 10px; text-align: center">
    <h5 class="card-header" style="text-align: center; color: blue;">GP <%= garage.id %></h5>
      <div class="card-body">
        <h5 class="card-title"> 
        <% if garage.user %> 
            <%= garage.user.first_name %> <%= garage.user.last_name.chars.first %>.
        <% else %> 
            Available 
        <% end %>
        </h5>
        <p class="card-text">  
          <table style="width: 100%; "> 
            <thead>
              <tr>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody style="">
                <tr>
                  <td><strong>Fri</strong></td>
                  <td><strong>Sat</strong></td>
                  <td><strong>Sun</strong></td>
                </tr>

                <tr>
                  <td style="">
                  <% if garage.friday == true %> X
                  <%end%>
                  </td>
                  <td style="">
                  <% if garage.saturday == true %> X
                  <%end%></td>
                  <td style=" ">
                  <% if garage.sunday == true %> X
                  <%end%></td>
                </tr>
              </tbody>

            </table>
        </p>
         <a href="#" style="width: 70%; margin-top: 10px" class="btn btn-primary">Rent</a>  
      </div>  
</div>

 

  