<div class="card" style="width: 200px; margin: 20px; text-align: center">
    <h5 class="card-header" style="text-align: center; color: blue;">GP <%= garage.garage_number %></h5>
        <p class="card-text">  
          <table style="width: 100%; margin-top: 10px"> 
            <thead>
                 <tr style="display: flex; width: 200px; justify-content: space-around;">
                  <th><strong>Fri</strong></td>
                  <th><strong>Sat</strong></td>
                  <th><strong>Sun</strong></td>
                </tr>
            </thead>
            <tbody>

          
              </tbody>

            </table>
        </p>
        <h5 class="card-title;" style="color: red"> 
          <% if garage.id %> 
             <a href="#" style="width: 70%; margin-top: 10px" class="btn btn-outline-secondary">Rental info.</a>  
          <% else %> 
              <a href="#" style="width: 70%; margin-top: 10px" class="btn btn-primary">Rent</a>  
          <% end %>
        </h5>
         
      </div>  
</div>

 

  