<div class="card" style="width: 200px; margin: 20px; text-align: center">
    <h5 class="card-header" style="text-align: center; color: blue;">GP <%= garage.garage_number %></h5>
        <p class="card-text">  
          <table style="width: 100%; margin-top: 10px"> 
            <thead>
                 <tr style="display: flex; width: 200px; justify-content: space-around;">
                  <th><strong>Fri</strong></td>
                  <th><strong>Sat</strong></td>
                  <th><strong>Sun</strong></td>
                </tr>
            </thead>
            <tbody>

                <tr style="display: flex; width: 95%; justify-content: space-around;">
                  <td>
                  <% if garage.friday == true %> X
                  <%end%>
                  </td>
                  <td>
                  <% if garage.saturday == true %> X
                  <%end%></td>
                  <td style=" ">
                  <% if garage.sunday == true %> X
                  <%end%></td>
                </tr>
              </tbody>

            </table>
        </p>
        <h5 class="card-title;" style="color: red"> 
          <% if garage.user %> 
             <a href="#" style="width: 70%; margin-top: 10px" class="btn btn-outline-secondary"><%= garage.user.first_name %> <%= garage.user.last_name.chars.first %>.</a>  
          <% else %> 
              <a href="#" style="width: 70%; margin-top: 10px" class="btn btn-primary">Rent</a>  
          <% end %>
        </h5>
         
      </div>  
</div>

 

  