<div class="card" style="width: 200px; margin: 20px; text-align: center">
    <h5 class="card-header" style="text-align: center; color: blue;">GP <%= garage.garage_number %></h5>
        <p class="card-text">  
          <table style="width: 100%; margin-top: 10px"> 
            <thead>
             
                 <tr> <td><strong>Fri:</strong> 
                 <% if @rentals.is_rented(garage).count > 0 %>
                 <%= @rentals.is_rented(garage).first.user.first_name %> <%= @rentals.is_rented(garage).first.user.last_name.chars.first %>.
                 <% end %>
                 </td> </tr>
                 <tr> <td><strong>Sat:</strong></td> </tr>
                 <tr> <td><strong>Sun:</strong></td> </tr>
                </tr>
            </thead>
            <tbody>

          
              </tbody>

            </table>
        </p>
        <h5 class="card-title;" style="color: red"> 
          <% if garage.id %> 
             <a href="#" style="width: 70%; margin-top: 10px" class="btn btn-outline-secondary">Rental info.</a>  
          <% else %> 
              <a href="#" style="width: 70%; margin-top: 10px" class="btn btn-primary">Rent</a>  
          <% end %>
        </h5>
         
      </div>  
</div>

