<h1 class="header">Select a garage</h1>
<div class="center_me">
 <a class="button btn btn-primary center_me" href="/events" role="button" style="width: 200px">Back to Events</a>
 </div>
<hr/>

<%= render @garages %>
<br>
