 <div class="header">
    <h1>Garage Rental.io</h1> 
    <p class="quote"> Online garage rental reservation</p>
  </div>
    <hr/>

    <hr>
    <div id="login_signup">
        <a class="button btn btn-primary" href="/signin" role="button">Log in</a>
        <a class="button btn btn-primary" href="/signup" role="button">Sign up</a>
</div>

