<div class="card" style="width: 300px; margin: 20px; text-align: center">
    <h5 class="card-header" style="text-align: center; color: blue;"><%= event.event_name %> </h5>
        <h5 class="card-body " > Date: <%= event.date%> </h5>
        <h5 class="card-body" style="margin-top: -35px"> Location: <%= event.location%> </h5>
        <h5 class="card-title;" style="color: red"> 
             <a href="#" style="width: 50%; margin-top: -10px" class="btn btn-primary"> Garage Map </a>  
    
        </h5>
         
      </div>  
</div>
