<div class="card" style="width: 300px; margin: 20px; text-align: center">
    <div style="text-align: center; width: 200px"><%= select_tag "events", options_from_collection_for_select(@events, "id", "event_name") %><div>
    
</div>

