<h1 class="header">Select Event</h1>
<a href="/logout" style="float: right; padding-right:30px">Logout</a>
<br>
<hr/>
<div class="center_me">
  <card class="form">
    <form action="/events/select" method="get">
      <section><%= select_tag "event_id", options_from_collection_for_select(@events, "id", "event_name"), :style => "width: 400px" %> </section>
      <section class="add_margin center_me">
        <input type="submit" value="Continue" class="btn btn-danger">
      </section>
    </form>
  </card>
</div>


  
  


