<h1 class="header">Venues</h1>
<hr>
<div class="header" style="margin-top: -20px"><%= render @venue %></div>
<%= javascript_include_tag('venues.js') %>
  <div id="postResult">
  <h2 id="postTitle"></h2>
  <p id="postBody"></p>
</div>
<div class="venues_list"></div>



